<style>
section{
outline: none;
margin: 0;
padding: 0px;
border: 0;
font: inherit;
vertical-align: top;
font-family: Roboto-Regular,arial, verdana;
font-size: 12px;
line-height: 15px;
display: block;
}



	.divProductosMejora{
		width: 580px;
		height: 105px;
		margin: auto;
		background-color: #F7F7F7;
	}
	
	.divProductoMejora {
		float: left;
		width: 178px;
		height: 95px;
		margin: 5px 10px 0 5px;
		border-radius: 5px;
		box-shadow: 0px 0px 4px 1px rgba(1, 1, 1, 0.12);
		background-color: #FFFFFF;
	}
	
	.divImagenProdMej{
		width: 50%;
		height: 100%;
		float: left;
	}
	
	.divImagenProdMej img{
		height: 60%;
		display: block;
		margin: auto;
	}
	.divImagenProdMej span{
		height: 40%;
		display: block;
		margin: auto;
		text-align: center;
		font-weight: bold;
		font-family: arial, verdana;
		font-size: 9px;
	}
	
	.divDetalleProdMej{
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
	}
	
	.divDetalleProdMej .btnPM{
		font-size: 9px;
		width: 82px;
		background: #DA291C;
		color: #fff;
		text-align: center;
		height: 24px;
		line-height: 24px;
		font-weight: bold;
		font-family: arial, verdana;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		bottom: 5px;
		position: absolute;
		cursor: pointer;
	}
	
	.divCostoProdMej{
		position: absolute;
		bottom: 34px;
		border-left: 1px solid red;
		padding-left: 2px;
	}
	
	.colorRojoProdMej{
		color: #DA291C
	}
</style>




<section class="regular slider ng-scope" ng-if="!esPromovendedor">
                        <button title="Retrocede sugeridos" type="button" class="slick-prev" id="botonSugeridos" onclick="retrocedeSlide();" role="button">Next</button>
						<div class="divProductosMejora">
							<div class="divProductoMejora">
								<div class="divImagenProdMej">
								<img src="http://10.54.66.1100/Elektrafront/imagenes/productoChica/1008968.gif">
									<span>LED 40 HKPRO SMART HKP40SM10</span>
								</div>
								<div class="divDetalleProdMej">
									<span><b>¡Última Oportunidad!</b></span>
									<div class="divCostoProdMej">
										<span style="font-size: 10px;"><span class="colorRojoProdMej"><b>$102</b></span> semanales<span class="colorRojoProdMej">*</span></span>
										<span style="font-size: 10px;">102 semanas</span>
									</div>
									<div class="btnPM" ng-click="botonVenderCotizadorBDR(false);">Deseo agregarlo</div>
								</div>
							</div>
							
							
							
							<div class="divProductoMejora">
								<div class="divImagenProdMej">
								<img src="http://10.54.66.1100/Elektrafront/imagenes/productoChica/1008968.gif">
									<span>LED 40 HKPRO SMART HKP40SM10</span>
								</div>
								<div class="divDetalleProdMej">
									<span><b>¡Última Oportunidad!</b></span>
									<div class="divCostoProdMej">
										<span style="font-size: 10px;"><span class="colorRojoProdMej"><b>$102</b></span> semanales<span class="colorRojoProdMej">*</span></span>
										<span style="font-size: 10px;">102 semanas</span>
									</div>
									<div class="btnPM" ng-click="botonVenderCotizadorBDR(false);">Aprovechar</div>
								</div>
							</div>
							
							
							<div class="divProductoMejora">
								<div class="divImagenProdMej">
								<img src="http://10.54.66.1100/Elektrafront/imagenes/productoChica/1008968.gif">
									<span>LED 40 HKPRO SMART HKP40SM10</span>
								</div>
								<div class="divDetalleProdMej">
									<span><b>¡Por Sólo!</b></span>
									<div class="divCostoProdMej">
										<span style="font-size: 10px;"><span class="colorRojoProdMej"><b>$102</b></span> semanales<span class="colorRojoProdMej">*</span></span>
										<span style="font-size: 10px;">102 semanas</span>
									</div>
									<div class="btnPM" ng-click="botonVenderCotizadorBDR(false);">Mejorar</div>
								</div>
							</div>
							
							
						</div>
						
						
						
						
						
												<div class="divProductosMejora">
							<div class="divProductoMejora">
								<div class="divImagenProdMej">
								<img src="http://10.54.66.1100/Elektrafront/imagenes/productoChica/1008968.gif">
									<span>LED 40 HKPRO SMART HKP40SM10</span>
								</div>
								<div class="divDetalleProdMej">
									<span><b>¡Última Oportunidad!</b></span>
									<div class="divCostoProdMej">
										<span style="font-size: 10px;"><span class="colorRojoProdMej"><b>$102</b></span> semanales<span class="colorRojoProdMej">*</span></span>
										<span style="font-size: 10px;">102 semanas</span>
									</div>
									<div class="btnPM" ng-click="botonVenderCotizadorBDR(false);">Deseo agregarlo</div>
								</div>
							</div>
							
							
							
							<div class="divProductoMejora">
								<div class="divImagenProdMej">
								<img src="http://10.54.66.1100/Elektrafront/imagenes/productoChica/1008968.gif">
									<span>LED 40 HKPRO SMART HKP40SM10</span>
								</div>
								<div class="divDetalleProdMej">
									<span><b>¡Última Oportunidad!</b></span>
									<div class="divCostoProdMej">
										<span style="font-size: 10px;"><span class="colorRojoProdMej"><b>$102</b></span> semanales<span class="colorRojoProdMej">*</span></span>
										<span style="font-size: 10px;">102 semanas</span>
									</div>
									<div class="btnPM" ng-click="botonVenderCotizadorBDR(false);">Aprovechar</div>
								</div>
							</div>
							
							
							<div class="divProductoMejora">
								<div class="divImagenProdMej">
								<img src="http://10.54.66.1100/Elektrafront/imagenes/productoChica/1008968.gif">
									<span>LED 40 HKPRO SMART HKP40SM10</span>
								</div>
								<div class="divDetalleProdMej">
									<span><b>¡Por Sólo!</b></span>
									<div class="divCostoProdMej">
										<span style="font-size: 10px;"><span class="colorRojoProdMej"><b>$102</b></span> semanales<span class="colorRojoProdMej">*</span></span>
										<span style="font-size: 10px;">102 semanas</span>
									</div>
									<div class="btnPM" ng-click="botonVenderCotizadorBDR(false);">Mejorar</div>
								</div>
							</div>
							
							
						</div>
                       <button title="Avanza sugeridos" type="button" class="slick-next" id="botonSugeridos" onclick="avanzaSlide();" role="button">Next</button>
                      </section>